input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.project .icon{
    margin-right: 10px;
    font-size: 40px;
    
    
}
.avatar i{
    font-size: 60px;
}

.side-navbar{
    min-height: 100vh;
}


.anexo.input-group .btn{
    
    padding-top: 11px;
    border-top-right-radius: 0;
    border-bottom-right-radius:  0;
}
.anexo input{
    background-color: #fff!important;
}

label.error{
    color: red;
}

.login-page .form-holder .info {
    background: #131111;
  
}

.select2-container--default span{
    
 
}